* {
  overflow: hidden;
 
}

#image-track {
  display: flex;
  position: relative;
  gap: 10vmin;
  margin-top: 50vh;
  user-select: none;
  transform: translate(0%, -50%);
  user-select: none; 



}
#image-track:hover{
  cursor: grab; 
}
#image-track > .image {
  scale:1.2;
  width: 80vmin;
  height: 50vmin;
  object-fit: cover;
  object-position: 100% center;
}
body {
  height: 100vh;
  width: 190vw;
  background-color: rgb(0, 0, 0);
}




